body{
    background-color: hsla(0, 0%, 0%, 0.703);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#container {
  margin-top: 10px;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 600px;
  overflow: hidden; 
  border: 1px ridge #d4af37;
  border-radius: 10px;
  box-shadow: 
  0 0 5px rgba(255, 119, 0, 0.817), 
  0 0 5px rgba(145, 255, 0, 0.5), 
  0 0 5px rgba(255,255,0,0.4);
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

#blackjack-logo{
  margin-top: 20px;
  width: 300px;
  opacity: 85%;
}

#container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(./images/table.png);
  background-color: hsla(116, 44%, 7%, 0.99);
  background-size: 185%;
  /*background-size: cover;*/
  background-position: center;
  opacity: 0.45; 
  z-index: -1; 
  opacity: var(--bg-opacity, 0.45); /* Use a CSS variable */
  z-index: var(--z-index, -1); 
}
#container.flipped {
  transform: rotateY(180deg);
}
#deck-dealer-row{
display: flex;
justify-content: space-between;
width: 100%;
height: 0px;
}
#discard-tray{
left: 0;
width: 100px;
height: 0px;
}
#new-deck{
right: 0;
width: 100px;
height: 0px;
}
#card-image-right-corner,#card-image-left-corner {
  border: 1px solid hsla(25, 72%, 11%, 0.96);
}

#blackjack-header-container{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#game-settings{
margin-right: 5px;
border: 1px solid #a47523;
background-color: hsla(25, 72%, 11%, 0.96);
color: aliceblue;
border-radius: 15px;
width: 10%;
font-size: 1.2rem;
text-align: center;
box-shadow: 0px 0px 10px rgba(31, 13, 13, 0.968);
}
#chips-count{
margin-left: 5px;
border: 1px solid #a47523;
background-color: hsla(25, 72%, 11%, 0.96);
color: aliceblue;
border-radius: 15px;
width: 40%;
text-align: center;
box-shadow: 0px 0px 10px rgba(31, 13, 13, 0.968);

}
#games-count{
  border: 1px solid #a47523;
  background-color: hsla(25, 72%, 11%, 0.96);
  color: aliceblue;
  border-radius: 15px;
  width: 40%;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(31, 13, 13, 0.968);
}


#blackjack-header{
    display: flex;
    width: 210px;
    height: 140px;
    text-align: center;
    color: #a47523;
    font-size: 3.2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bolder;
    box-sizing: 1px solid black;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-shadow: 0px 0px 10px rgba(31, 13, 13, 0.99); 
}






#card-image-left-corner{
    margin-left: 5px;
    margin-top: 5px;
    width: 80%;
    /* left corner angle Z 30deg Y -50deg  X 50deg */
       /* right corner angle Z -65deg Y -19deg  X 50deg */
    transform: rotateZ(30deg) rotateY(-50deg) rotateX(50deg);
    transform: perspective();
}
#card-image-right-corner{
  margin-left: 5px;
  margin-top: 5px;
  width: 80%;
  /* left corner angle Z 30deg Y -50deg  X 50deg */
   /* right corner angle Z -65deg Y -19deg  X 50deg */
  transform: rotateZ(-65deg) rotateY(-19deg) rotateX(50deg);
  transform: perspective();
}
#card-image{
    margin-left: 5px;
    margin-top: 5px;
    width: 80%;
  /* left corner angle Z 30deg Y -50deg  X 50deg */
   /* right corner angle Z -65deg Y -19deg  X 50deg */
    transform: rotateZ(30deg) rotateY(-50deg) rotateX(50deg);
    transform: perspective();
    
    /* transform: rotateZ(-5deg); */

 }
#buttons-container{
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    min-height: 85px ;
}
.bet-chip-img {
  position: absolute;
  transition: transform 0.3s ease;
  transform: rotateZ(90deg) rotateY(60deg);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid hsla(0, 0%, 0%, 0.65); 
  font-size: 0.75rem;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 0px 1px hsla(0, 0%, 0%, 0.917);
}

#buttons-row{
    display: flex;
    justify-content: center;
    height: 55px;
    width: 100%;
    gap: 15px;
    margin-bottom: 20px;
}

  #chips-row{
    display: flex;
    gap: 8px;
    justify-content: center;

  }

 
  #chips-row button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid hsla(0, 0%, 0%, 0.65); 
    font-size: 0.75rem;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 4px 6px hsla(0, 0%, 0%, 0.917);
  }
  #chips-row img:hover{
    box-shadow: 0px 4px 6px hsla(0, 0%, 0%, 0.217);
  }
  #bet-container-box {
    display:flex;
    position: relative;
    gap: 8px;
    justify-content: center;
    width: 100%;
    
    
  }
  #bet-container-box img:hover{
    box-shadow: 0px 4px 6px hsla(0, 0%, 0%, 0.67);
  }
  #bet-container-box img:active{
    transform: scale(0.95);
    box-shadow: 0px 4px 6px hsl(159, 59%, 53%);
  }
  
  .chip-img{
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;
  }
  #btn-10{
    background-color: hsla(120, 81%, 40%, 0.967);
  }
  #btn-25{
    background-color: hsla(37, 82%, 55%, 0.967);
  }
  #btn-50{
    background-color: hsla(0, 87%, 63%, 0.967);
  }
  #btn-100{
    background-color: hsla(313, 37%, 63%, 0.967);
  }
  #btn-250{
    background-color: hsla(235, 86%, 71%, 0.967);
  }

  #chips-row-wrapper{
    display: flex; 
    justify-content: center;
    gap: 10px;
    min-height: 50px;
    margin-bottom: 10px;
  }
  #chips-row-wrapper img:hover{
    background-color: #a47523;
    box-shadow: 0px 0px 8px 3px #ddb01d; 
  }

.btn-new-game {
    border:0px solid rgba(12, 11, 9, 0.728);
    cursor: pointer;
    width: 75px;
    height: 75px;
    background-color: hsl(160, 10%, 12%);
    border-radius: 50%;
    transition: transform 0.1s ease, background-color 0.1s ease, box-shadow 0.2s ease; /* Add box-shadow to the transition */
  }
  
  .btn-new-game:hover {
    background-color: #a47523;
    box-shadow: 0px 0px 8px 3px #ddb01d; 
  }
  
  .btn-new-game:active {
    transform: scale(0.95);
    background-color: #ddb01d; 
  }
  .btn-clear-bet{
    border:0px solid rgba(12, 11, 9, 0.728);
    cursor: pointer;
    width: 75px;
    height: 75px;
    background-color: hsl(160, 10%, 12%);
    border-radius: 50%;
    transition: transform 0.1s ease, background-color 0.1s ease, box-shadow 0.2s ease;
}
.btn-clear-bet:hover {
    background-color:#a47523;
    box-shadow: 0px 0px 8px 3px #ddb01d; 
  }
  
  .btn-clear-bet:active {
    transform: scale(0.95);
    background-color: #a47523;
  }

  .btn-stand {
    border:0px solid rgba(12, 11, 9, 0.728);
    cursor: pointer;
    width: 75px;
    height: 75px;
    background-color: hsl(160, 10%, 12%);
    border-radius: 50%;
    transition: transform 0.1s ease, background-color 0.1s ease, box-shadow 0.2s ease;

  }

  .btn-stand:hover{
    background-color: #a47523;
    box-shadow: 0px 0px 8px 3px #ddb01d; 
  
  }
  .btn-stand:active{
    transform: scale(0.95);
    background-color: #a47523;
  }
  .btn-double{

    border:0px solid rgba(12, 11, 9, 0.728);
    cursor: pointer;
    width: 75px;
    height: 75px;
    background-color: hsl(160, 10%, 12%);
    border-radius: 50%;
    transition: transform 0.1s ease, background-color 0.1s ease, box-shadow 0.2s ease;
 
  }
  .btn-double:hover{
    background-color: #a47523;
    box-shadow: 0px 0px 8px 3px #ddb01d; 
  
  }
  .btn-double:active{
    transform: scale(0.95);
    background-color: #a47523;
  }
  .btn-hit{
    border:0px solid rgba(12, 11, 9, 0.728);
    cursor: pointer;
    width: 75px;
    height: 75px;
    background-color: hsl(160, 10%, 12%);
    border-radius: 50%;
    transition: transform 0.1s ease, background-color 0.1s ease, box-shadow 0.2s ease;

  }
  .btn-hit:hover{
    background-color: #a47523;
    box-shadow: 0px 0px 8px 3px #ddb01d; 
  
  }
  .btn-hit:active{
    transform: scale(0.95);
    background-color:#a47523;
  }
  
  #bet-main-container{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  
  #pointer-animation{
    margin-bottom: 30px;
    color: white;
    font-size: 1.3rem;
    text-align:center;
    overflow: visible;
    animation: bobbing 0.7s infinite ease-in-out;
  }
  @keyframes bobbing {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3px);
    }
  }
  #score-bubble div{
    background-color: hsla(0, 0%, 96%, 0.75);
    color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  #dealer-score-bubble,#player-score-bubble{
  text-align: center;
  font-size: 1rem;
  font-weight: bold;

  }
  #dealer-score-bubble{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
  #player-score-bubble{
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
  }

  #game-area{
    margin-top: 40px;
    position: relative;
    height: 100%;
    width: 150px;
    perspective: 1000px;
  }
  .message-container{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;
  width:100%;
}
  .message-box{
    color: hsl(21, 38%, 13%);
    font-size:medium;
    font-weight: bold;
    border-radius: 7px;
    background-color: hsla(24, 13%, 85%, 0.96);
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
  }


  #hand, #dealer-hand, #player-hand {
    display:flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    height: 100px;
    
  }
  #dealer-hand, #player-hand {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow:visible;
    position: absolute;
  }
  #dealer-hand{
    top: 10px;
  }
  #player-hand{
    bottom: 10px;
  }

.card-box{
    perspective: 1000px;
    margin: 0 -15px;
}

.card-content{
  width: 63px;
  height: 90px; 
  transform-style: preserve-3d;
  transition: transform 2s;
}

.flip {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  -webkit-backface-visibility: hidden; /* for Safari 5.1+ and iOS 5+ */
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.card-front {
  transform: rotateY(180deg);
}
.card-content img{
  width: 100%;
  height: 100%;
  border-radius: 7px;
}