.fs-4{
    color: aliceblue;
    font-weight: bold;
}
.pages{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
    width: 720px;
}
.pages img{
    width: 500px;
    margin-top: .25rem;
    margin-bottom: .25rem;
    border-radius: .75rem;
}