
.archive-container{
    max-width: 1200px;
  }
  .archive-container .project-header-archive{
    text-decoration: none;
    color: var(--clr-primary-500);
  }
  .archive-container #project-arrow-archive{
    display: inline-block;
    transform: translateX(-0.25rem);
    transition: all .3s ease;
    color: var(--clr-primary-500);
  }
  .archive-container:hover #project-arrow-archive{
    display: inline-block;
    color: var(--clr-primary-500);
    transform: translateX(-.5rem);
  }
  .archive-section{
    display: grid;
    gap: 1rem;
  }
  
  .archive-row-header{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: -webkit-sticky;
    position: sticky;
    background-color: var(--clr-neutral-900);
    opacity: 0.9;
    top: 0;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    padding: 10px 0;
  }
  
  .archive-row{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  .archive-row:last-child {
    border-bottom: none; 
  }
  