
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'InterVariable';
  src: url('../assets/fonts/RasmusAndersson-Inter-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
    background-color: #0F172A;
    
}
body div{
  color: hsla(209, 43%, 90%, 0.752);
  font-family: 'InterVariable', sans-serif;
}
.main-box {
  
  display: flex;
  align-items: stretch;
  align-self: flex-start;
}
@media (min-width: 1280px) {
  .main-box {
    position: absolute;
    left: 0px;
    right: 0px;
  }
  .header-container {
    margin-left: 100px;
  }
  .body-container {
    margin-right: 100px; 
  }
  .header-h1{
    font-size: 48px;
    font-weight: bold;
  }
  .header-h5{
    font-size: 20px;
    font-weight:500;
  }
}
@media (min-width: 1024px) {
  body .main-box {
    position: absolute;
    left: 0px;
    right: 0px;
  }
  .header-container {
    margin-left: 100px; 
  }
  .body-container {
    margin-right: 75px; 
  }
  .header-h1{
    font-size: 48px;
    font-weight: bold;
  }
  .header-h5{
    font-size: 20px;
    font-weight:500;
  }
  .body-container {
    flex-grow: 1;
    min-width: 300px; 
    max-width: 500px; 
    margin-right: 100px;
    justify-content: center;
  }
}

@media (max-width: 1023px) {
  body .main-box {
    position: absolute;
    left: 50px;
    right: 50px;
  }
  body .main-box .header-container {
    position: static;
    height: auto;
    min-height: 400px;
  }
  body .main-box .body-container {
    overflow-y: auto;
    height: auto;
  }
  
  .main-box {
    flex-direction: column;
  }
  .header-h1{
    font-size: 48px;
    font-weight: bold;
  }
  .header-h5{
    font-size: 20px;
    font-weight:500;
  }
}

@media (max-width: 767px) {
  body .main-box {
    position: absolute;
    left: 25px;
    right: 25px;
  }
  body .main-box .header-container {
    position: static;
    height: auto;
    min-height: 400px;
  }
  body .main-box .body-container {
    overflow-y: auto;
    height: auto;
  }
  .main-box {
    flex-direction: column;
  }
  .header-h1{
    font-size: 48px;
    font-weight: bold;
  }
  .header-h5{
    font-size: 20px;
    font-weight:500;
  }
}

@media (max-width: 639px) {
  .main-box {
    position: absolute;
    left: 25px;
    right: 25px;
  }
  .header-h1{
    font-size: 36px;
    font-weight: bold;
  }
  .header-h5{
    font-size: 18px;
    font-weight:500;
  }
}


.header-container {
  width: 400px;
  height: 100vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
}

.spacer {
  flex-grow: 1; 
  min-width: 1px; 
}

@media (min-width: 1024px) {
  .spacer {
    min-width: 1px; 
  }
}
/* HEADER */
.page1 {
  display: flex;
  flex-direction: column;
  min-height: 410px;
  margin-top: 75px;
  width: 470px;
  
  flex-grow: 1;
}

.textbox-h5 h5{
  margin-top: 5px;
  font-weight: medium;
}
.textbox-p1{
    margin-top: 10px;
    width: 300px;
    font-size: 1rem;
}
.local-links-box{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content: flex-start;
}
.header-links:last-child {
  margin-bottom: 40px;
}
.header-links{
  display: flex;
  margin-top: 20px;
}
.social-icons a, .header-links a, .projects-link a{
  margin-right: 20px;
  text-decoration: none;
  position: relative; 
  display: inline-block; 
}
.social-icons-box{
  display: flex;
  flex-direction: row;
}
.social-icons a{
  margin-right: 20px;
  text-decoration: none;
  
}
.social-icons a:hover{
  text-decoration:none;
}

.social-icons img{
  width: 24px;
}
.social-icons a:last-child {
  margin-right: 0;
}

.header-links a {
  display: inline-block;
  color: #64748b; 
  text-decoration: none;
  position: relative;
  padding-left: 65px; 
  transition: color 0.15s ease-in-out;
}

.header-links a::before {
  content: '';
  position: absolute;
  top: 50%; 
  left: 10px; 
  transform: translateY(-50%); 
  height: 2px; 
  width: 32px; 
  background-color: #475569; 
  transition: width 0.3s ease-in-out, background-color 0.15s ease-in-out;
}

.header-links a:hover {
  color: #e2e8f0; 
}

.header-links a:hover::before {
  width: 50px; 
  background-color: #e2e8f0; 
}
#header-link-about a {
  color: #e2e8f0; 
}

#header-link-about a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 1px;
  width: 20px; 
  background-color: #e2e8f0; 
}


.header-links a {
  display: inline-block;
  color: #64748b; 
  text-decoration: none;
  position: relative;
  padding-left: 65px; 
  transition: color 0.15s ease-in-out;
}

.header-links a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 20px; 
  background-color: #475569; 
  transition: width 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
#header-link-about a::before {
  width: 50%; 
}
.header-links a:hover {
  color: #e2e8f0; 
}

.header-links a:hover::before {
  width: 50px; 
  background-color: #e2e8f0; 
}

.body-wrapper {
  flex-grow: 1; 
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/* BODY */

.more-pages{
  margin-top: 75px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#about{
  margin-bottom: 10px;
}

#projects{
margin-bottom: 100px;
}
