* {
    box-sizing: border-box;
  }
.blackjack-main-page{
  background-color: #0d4e08;
  color: aliceblue;
  padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 900px;
    height: 800px;
    margin: 20px auto; /* Center the game board */
}

  /* Ensure the container for the hands uses flexbox to lay out its children (cards) */
.game-board {
    background: #0a6c03; /* Dark green background for the game board */
    color: #fffffff5; /* White text for better contrast */
    padding: 1px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    height:95%;
    margin: 10px auto; /* Center the game board */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hand, .dealer-hand, .player-hand {
    display: flex;
    flex-direction: row; /* Lay out children (cards) in a row */
    justify-content: center; /* Center the cards within the container */
  }
  .dealer-hand, .player-hand {
    display: flex;
    flex-direction: column; /* Lay out children (cards) in a row */
    justify-content: center; /* Center the cards within the container */
    align-items: center; 
  }
  .h3-container{
    margin-left: -165px;
  }
  /* Style for individual cards */
  .card-box img{
    border-radius: 4px; /* Rounded corners for the cards */
    box-shadow: 0 2px 6px rgba(0,0,0,0.7); /* Card shadow for better visibility */
    display: inline-block; /* Allows for inline layout with wrapping */
    margin-right: 10px; /* Spacing between cards */
    /* Set dimensions for cards or use max-width as needed */
    width: 100px; /* Adjust the width as needed */
  }
   
  .dealer-hand {
    margin-bottom: 20px; /* Space between dealer's hand and any elements below */
    max-width: 500px;
  }
  
  /* Styles for the section containing the player's hand(s) */
  .player-hand {
    margin-top: 20px; /* Space between player's hand and any elements above */
  }
  .action-buttons{
    margin-top: 20px;
  }
  